.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 92px 49px 92px 51px;
    align-items: center;
    grid-template-areas: "text image";
} 

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    grid-area: text;
    text-underline-offset: 4px;
    justify-self: start;
}

.header__links-link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
    grid-area: image;
}

.header__logo-image {
    width: 100%;
}

.address {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
    justify-self: end;
}

.cover {
    display: grid;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 165px 50px 237px 50px;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    z-index: 2;
}

.accent-span {
    display:inline-block;
}

.aligned-text {
    text-align: left;
    letter-spacing: 30px;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 30px;
}

.aligned-text_right {
    letter-spacing: 30px;
}

.letter-spacing-extended {
    text-align: right;
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}