.content-section {
    box-sizing: border-box;
    min-height: 100%;
    width: 1440px;
    height: auto;
    margin: auto;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 92px 50px;
    align-items: center;
    justify-items: end;
} 

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-underline-offset: 4px;
    margin-right: 85px;
}

.header__links-link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header__logo-image {
    width: 100%;
}

.address {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

/* Cover */
.cover {
    display: flex;
    flex-direction: column;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: 100% auto;
}

.cover__title {
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 165px 50px 237px 50px;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
}

.accent-span {
    display:inline-block;
}

.aligned-text {
    text-align: left;
    letter-spacing: 30px;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 30px;
}

.aligned-text_right {
    letter-spacing: 30px;
}

.letter-spacing-extended {
    text-align: right;
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

 .overlay {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 0;
}

.cover__description-text {
    color: #FFF;
    position: absolute;
    padding: 667px 385px 62px 422px;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 17px;
    text-transform: uppercase;
}

.bet-button {
    display: inline-block;
    position: absolute;
    padding: 667px 82px 62px 1165px;

    border: 1px solid #FFF;
    background-color: transparent;

    font-size: 22px;
    color: #FFF;
    text-transform: uppercase;
}

/* Lots */
.lots {
    padding: 180px 50px 181px 50px;
}

.lots__heading {
    color: #000;
    padding: 0px 1179px 27px 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    position: relative;
    width: 430px;
    height: 450px;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) lightgray 50% / cover no-repeat;
    width: 430px;
    height: 450px;
}

.card_type_book{
    background: url(../images/card-lot-02.jpg) lightgray 50% / cover no-repeat;
    width: 430px;
    height: 450px;
}

.card_type_picture{
    background: url(../images/card-lot-03.jpg) lightgray 50% / cover no-repeat;
    width: 430px;
    height: 450px;
}

.card__title {
    color: #FFF;
    font-family: Raleway;
    position: absolute;
    font-size: 22px;
    line-height: 120%;
    padding: 50px 40px 348px 40px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text1 {
    color: #FFF;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 304px 40px 50px 40px;
}

.card__text2 {
    color: #FFF;
    display: flex;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 160px 40px 50px 40px;
}


.card__text3 {
    color: #FFF;
    display: flex;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 208px 40px 50px 40px;
}

.lots__look-more-link {
    color: #000;
    position: absolute;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
}

/* About */

.about__logo {
    display: flex;
    padding: 1px 910px 248px 0px;
    background: url(../images/Ellipse\ 10.svg);
    background-repeat: no-repeat;
    margin-left: 95px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    background-color: black;
    margin-top: 63px;
    margin-left: 46px;
}

.info__item{
    height: 388px;
    width: 885px;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 455px;
    margin-top: 100px;
}

.about__title{
    position: absolute;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
}

.about__text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
}


/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 180px 50px 90px 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__menu-list {
    color: #000;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 35px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
