.content-section {
    max-width: 1440px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 92px 50px;
    align-items: center;
    justify-items: end;
}

.header__links-list-item {
    list-style: circle;
    text-underline-offset: 4px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 30px;
    padding-right: 60px;
    padding-bottom: 5px;
    white-space: nowrap;
    font-weight: normal;
}

.no-bullit {
    text-decoration: none;
    list-style-type: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header__logo-image {
    width: 100%;
}

.address {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-underline-offset: 4px;
}

/* Cover */
.cover {
    display: flex;
    position: relative;
    flex-direction: column;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 165px 50px 227px 50px;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
}

.aligned-text {
    text-align: left;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align: center;
    letter-spacing: 0.3em;
    margin-top: 10px;
}

.aligned-text_right {
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    text-align: right;
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.cover__description-text {
    color: #FFF;
    font-size: 22px;
    line-height: 127.273%;
    word-spacing: 18px;
    margin-top: 667px;
    text-transform: uppercase;
    margin-left: 422px;
}

.bet-button {
    width: 257px;
    height: 52px;
    margin-top: 655px;
    margin-left: 78px;
    border: 1px solid #FFF;
    background-color: transparent;
    font-size: 22px;
    color: #FFF;
    text-transform: uppercase;
}

/* Lots */
.lots {
    padding: 180px 50px 181px 50px;
    margin-bottom: 50px;
}

.lots__heading {
    color: #000;
    padding: 0px 0px 27px 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    flex-grow: 1;
    position: relative;
    width: 430px;
    min-height: 450px;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) lightgray 50% / cover no-repeat;
    background-position: center;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) lightgray 50% / cover no-repeat;
    background-position: center;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) lightgray 50% / cover no-repeat;
    background-position: center;
}

.card__title {
    color: #FFF;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    font-style: normal;
    padding: 52px 40px 0px 40px;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-underline-offset: 4px;
}

.lots__link {
    display: block;
    max-height: 100%;
    text-decoration: none;
}

.card__text_film {
    color: #FFF;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 305px 40px 50px 40px;
}

.card__text_book {
    color: #FFF;
    display: flex;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 163px 40px 50px 40px;
}

.card__text_picture {
    color: #FFF;
    display: flex;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 210px 40px 50px 40px;
}

.lots__look-more-link {
    color: #000;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 31px;
    text-underline-offset: 5px;
}

/* About */
.about {
    display: flex;
    margin: auto;
    padding: 1px 910px 248px 0px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    margin-left: 95px;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: 63px 46px;
}

.info__item {
    margin-left: 120px;
    margin-top: 100px;
}

.about__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    white-space: nowrap;
}

.about__text {
    display: flex;
    flex-direction: column;
    height: 388px;
    width: 885px;
    gap: 25px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 148px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 180px 50px 90px 50px;
    margin-top: 65px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__menu-list {
    color: #000;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 35px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
